﻿@model CaseApplication.ViewModel.CarDetailViewModel

@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm())
{

    <label for="kenteken">Kenteken:</label>
    <br>
    <input id="listItem" onfocus="this.value=' '" type="text" name="listItem" />
    <br>

    <input type="button" value="Add" onclick="storedata(); return false;">


    <table id="FirstTable" cellpadding="0" cellspacing="0" class="table">
        <thead>
            <tr>
                <th scope="col">Kenteken</th>
                <th scope="col">C02 Uitstoot</th>
            </tr>
        </thead>
        <tr id="plate">
            <td></td>
            <td></td>


        </tr>       
        
        <tr>
            <td>Result</td>
            @if (Model != null)
            {
                <td>Aantal Bomen: @Model.Answer</td>

            }
            </tr>
        
        
            
        




    </table>
    <a href="#" id="hl-send-array"> Calculate</a>


    @section scripts{


        <script type="text/javascript">
            const userInput = [];
            var platetable = document.getElementById("FirstTable");
            var tablerow = document.createElement("td")
                ;
            var word = document.getElementById("listItem");

            function storedata() {
                var itemValue = word.value;

                userInput.push(itemValue);
                var unique = userInput.filter(onlyUnique);
                var getRow = document.getElementById("trow")
                if (getRow != null) {
                    getRow.remove();

                }
                unique.forEach(element => createElement(element));
                unique = userInput;
                return this.userInput;
            }

            function createElement(word) {


                const newTr = document.createElement("tr");
                newTr.id = "trow";
                const newTD = document.createElement("td");
                const newContent = document.createTextNode(word);
                newTD.appendChild(newContent);
                newTr.appendChild(newTD);
                var before = document.getElementById("plate");

                platetable.tBodies[0].insertBefore(newTr, before);
            }


            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }


            $("#hl-send-array").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "https://localhost:44363/",
                    traditional: true,
                    data: {

                        userInput,
                    },
                    success: function (data) {
                        console.log(data.message);
                    },
                });
            });

        </script>

    }

}












